table.table.table-bordered.noe-table
	thead.thead-default
		tr
			th Тип документа
			th Номер документа
			th Дата документа
			th Руководитель
			th Описание
			th Файл
			th Пункт
			th Дата исполнения
			th Исполнители
			th Контроль

	tbody
		each val, index in docs
			tr
				//тип документа
				td(rowspan=lengths[index])
					= type_docs[val.doc_type]
					
				//номер документа
				td(rowspan=lengths[index])
					= val.doc_num
					
				//дата документа
				td(rowspan=lengths[index], id="data_" + val._id)
					= val.doc_date


				//руководитель
				td.text-center(rowspan=lengths[index] style = 'vertical-align: middle;')
					span.badge.badge-success(title= all_users_long[val.doc_ruc])
						= all_users_short[val.doc_ruc]

				//описание
				td(rowspan=lengths[index])
					= val.doc_about

				//Файл
				td(rowspan=lengths[index], style="font-size: 1.2rem;")
					input(type='hidden', id='username_' + val._id, name='username_' + val._id, value= username)

					//эта секция ккнопок просмотр, скачать и удалить. в файле noejs.js описана функции по нажитию этих кнопок
					a.ref_download.m-r-10(href='files/' + val.filename download='' title='Скачать' name='d_' + val._id)
						i.mdi.mdi-download.text-success
					a.ref_download(href='files/' + val.filename title='Просмотреть' name='e_' + val._id)
						i.mdi.mdi-eye.text-success
					a.ref_delete_doc(href=val._id title='Удалить' name='delete_' + val._id)
						i.mdi.mdi-delete-forever.text-danger
				
				//Пункт
				td.text-center
					= val.doc_punkts[0]['num_punkt']
				
				//Дата пункта
				td
					= val.doc_punkts[0]['date']
					
				//Исполнители
				td
					each val2, index2 in val.doc_punkts[0]['ispoln']
						if(val2['oznakomlen'] == true && val2['ispolneno'] == false)
							span.badge.badge-warning.m-r-5(title= all_users_long[index2] + ': ознакомлен')
								= all_users_short[index2]
		
						if(val2['oznakomlen'] == false && val2['ispolneno'] == false)
							span.badge.badge-danger.m-r-5(title= all_users_long[index2] + ': не ознакомлен')
								= all_users_short[index2]
								
						if((val2['oznakomlen'] == false && val2['ispolneno'] == true) || (val2['oznakomlen'] == true && val2['ispolneno'] == true))
							span.badge.badge-success.m-r-5(title= all_users_long[index2] + ': исполнено')
								= all_users_short[index2]

				//Контроль
				td
					each val2, index2 in val.doc_punkts[0]['kontrols']
						if(val2['oznakomlen'] == true)
							span.badge.badge-warning.m-r-5(title= all_users_long[index2] + ': ознакомлен')
								= all_users_short[index2]
		
						if(val2['oznakomlen'] == false)
							span.badge.badge-danger.m-r-5(title= all_users_long[index2] + ': не ознакомлен')
								= all_users_short[index2]
					
					
					
						//span.badge.badge-success.m-r-5(title= all_users_long[index2])
							= all_users_short[index2]
							
						//= all_users_short[val2] + ', '

			//здесь дорисовываем ещё строки, по количеству пунктов
			- for(var i = 1; i < lengths[index]; i++)
				tr
					//Пункт
					td.text-center
						= val.doc_punkts[i]['num_punkt']
					
					//Дата пункта
					td
						= val.doc_punkts[i]['date']

					//Исполнители
					td
						each val2, index2 in val.doc_punkts[i]['ispoln']
							if(val2['oznakomlen'] == true && val2['ispolneno'] == false)
								span.badge.badge-warning.m-r-5(title= all_users_long[index2] + ': ознакомлен')
									= all_users_short[index2]

							if(val2['oznakomlen'] == false && val2['ispolneno'] == false)
								span.badge.badge-danger.m-r-5(title= all_users_long[index2] + ': не ознакомлен')
									= all_users_short[index2]

							if((val2['oznakomlen'] == false && val2['ispolneno'] == true) || (val2['oznakomlen'] == true && val2['ispolneno'] == true))
								span.badge.badge-success.m-r-5(title= all_users_long[index2] + ': исполнено')
									= all_users_short[index2]

					//Контроль
					td
						each val2, index2 in val.doc_punkts[i]['kontrols']
							if(val2['oznakomlen'] == true)
								span.badge.badge-warning.m-r-5(title= all_users_long[index2] + ': ознакомлен')
									= all_users_short[index2]

							if(val2['oznakomlen'] == false)
								span.badge.badge-danger.m-r-5(title= all_users_long[index2] + ': не ознакомлен')
									= all_users_short[index2]