table.table.table-bordered(style="font-size: 0.8rem;")
	thead
		tr
			th Тип документа
			th Номер
			th Дата документа
			th Руководитель
			th Описание
			th Файл
			th Пункт
			th Дата пункта
			th Исполнители
			th Контроль

	tbody
		each val in all_docs
			//нам нужно каким то образом определить колическство пунктов в документе .length не получается, поэтому такой костыль
			- var lenght_of_punkts = 0;
			each val1, index1 in val.doc_punkts
				//p= val1
				- lenght_of_punkts = index1 + 1;

			tr
				td(rowspan=lenght_of_punkts)
					= type_docs[val.doc_type]
				td(rowspan=lenght_of_punkts)
					= val.doc_num
				td(rowspan=lenght_of_punkts, id="data_" + val._id) это ячейка
					script.
						//делаем "красивую" дату
						var date_d = new Date("#{val.doc_date}");
						var day = date_d.getDate();
						if (day<10) day = '0' + day;
						var month = date_d.getMonth()+1;
						if (month<10) month = '0' + month;
						var year = date_d.getFullYear();
						var this_name = "#data_" + "#{val._id}";
						//console.log($(this_name).text());
						$(this_name).text(day + '.' + month + '.' + year + ' г.')

				td(rowspan=lenght_of_punkts)
					= all_users_short[val.doc_ruc]

				td(rowspan=lenght_of_punkts)
					= val.doc_about

				td(rowspan=lenght_of_punkts, style="font-size: 1.5rem;")
					a.m-r-10(href='files/' + val.filename download='')
						i.mdi.mdi-download.text-success
					a(href='files/' + val.filename)
						i.mdi.mdi-eye.text-success

				td 										
					= val.doc_punkts[0][0]
				
				td
					= val.doc_punkts[0][1]
				
				td
					each val2, index2 in val.doc_punkts[0][2]
						= all_users_short[val2] + ', '

				td
					each val2, index2 in val.doc_punkts[0][3]
						= all_users_short[val2] + ', '

			//здесь дорисовываем ещё строки, по количеству пунктов
			- for(var i = 1; i < lenght_of_punkts; i++)
				tr
					td
						= val.doc_punkts[i][0]
					td
						= val.doc_punkts[i][1]
					td
						each val2, index2 in val.doc_punkts[i][2]
							= all_users_short[val2] + ', '

					td
						each val2, index2 in val.doc_punkts[i][3]
							= all_users_short[val2] + ', '