//p= docs
//p= lengths
p
table.table.table-bordered.noe-table
	thead
		tr
			th Тип документа
			th Номер документа
			th Дата документа
			th Руководитель
			th Описание
			th Файл
			th Пункт
			th Дата исполнения
			th Исполнители
			th Статус

	tbody
		each val, index in docs
			tr
				//тип документа
				td(rowspan=lengths[index])
					= type_docs[val.doc_type]
					
				//номер документа
				td(rowspan=lengths[index])
					= val.doc_num
					
				//дата документа
				td(rowspan=lengths[index], id="data_" + val._id)
					= val.doc_date


				//руководитель
				td.text-center(rowspan=lengths[index] style = 'vertical-align: middle;')
					span.badge.badge-success(title= all_users_long[val.doc_ruc])
						= all_users_short[val.doc_ruc]

				//описание
				td(rowspan=lengths[index])
					= val.doc_about

				//Файл
				td(rowspan=lengths[index], style="font-size: 1.2rem;")
					input(type='hidden', id='username_' + val._id, name='username_' + val._id, value= username)

					a.ref_download.m-r-10(href='files/' + val.filename download='' title='Скачать' name='d_' + val._id)
						i.mdi.mdi-download.text-success
					a.ref_download(href='files/' + val.filename title='Просмотреть' name='e_' + val._id)
						i.mdi.mdi-eye.text-success

				
				//Пункт
				td.text-center
					= val.doc_punkts[0][0]
				
				//Дата пункта
				td
					= val.doc_punkts[0][1]
				
				//Исполнители
				td
					each val2, index2 in val.doc_punkts[0][2]
						if(val2['oznakomlen'] == true && val2['ispolneno'] == false)
							span.badge.badge-warning.m-r-5(id='badge_' + val._id + '-' + val.doc_punkts[0][0] + '-' + index2 + '-' + username title= all_users_long[index2] + ': ознакомлен')
								= all_users_short[index2]
								a.ref_ispolneno.m-l-10(href='#' id=val._id + '-' + val.doc_punkts[0][0] + '-' + index2 + '-' + username title='Исполнено')
									i.mdi.mdi-check
								
						if(val2['oznakomlen'] == false && val2['ispolneno'] == false)
							span.badge.badge-danger.m-r-5(title= all_users_long[index2] + ': не ознакомлен')
								= all_users_short[index2]
								
						if((val2['oznakomlen'] == false && val2['ispolneno'] == true) || (val2['oznakomlen'] == true && val2['ispolneno'] == true))
							span.badge.badge-success.m-r-5(title= all_users_long[index2] + ': исполнено')
								= all_users_short[index2]
								
				//Статус
				td.text-center
						//= val.doc_punkts[0][2][username]['oznakomlen']
						if(val.doc_punkts[0][3][username]['oznakomlen'] == true)
							span.badge.badge-success.m-r-5
								= 'ознакомлен'
						else
							span.badge.badge-danger.m-r-5
								= 'не ознакомлен'


			//здесь дорисовываем ещё строки, по количеству пунктов
			- for(var i = 1; i < lengths[index]; i++)
				tr
					//Пункт
					td.text-center
						= val.doc_punkts[i][0]
					
					//Дата пункта
					td
						= val.doc_punkts[i][1]
					
					//Исполнители
					td
						each val2, index2 in val.doc_punkts[i][2]
							if(val2['oznakomlen'] == true && val2['ispolneno'] == false)
								span.badge.badge-warning.m-r-5(id='badge_' + val._id + '-' + val.doc_punkts[i][0] + '-' + index2 + '-' + username title= all_users_long[index2] + ': ознакомлен')
									= all_users_short[index2]
									a.ref_ispolneno.m-l-10(href='#' id=val._id + '-' + val.doc_punkts[i][0] + '-' + index2 + '-' + username title='Исполнено')
										i.mdi.mdi-check

							if(val2['oznakomlen'] == false && val2['ispolneno'] == false)
								span.badge.badge-danger.m-r-5(title= all_users_long[index2] + ': не ознакомлен')
									= all_users_short[index2]

							if((val2['oznakomlen'] == false && val2['ispolneno'] == true) || (val2['oznakomlen'] == true && val2['ispolneno'] == true))
								span.badge.badge-success.m-r-5(title= all_users_long[index2] + ': исполнено')
									= all_users_short[index2]

					//Статус
					td.text-center
							//= val.doc_punkts[0][2][username]['oznakomlen']
							if(val.doc_punkts[i][3][username]['oznakomlen'] == true)
								span.badge.badge-success.m-r-5
									= 'ознакомлен'
							else
								span.badge.badge-danger.m-r-5
									= 'не ознакомлен'

